[Unit]
Description=tes3mp
After=network.target

[Service]
WorkingDirectory=__PATH__
User=admin
Group=users
Type=simple
UMask=000
ExecStart=__PATH__tes3mp-server
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target